section {
  display: grid;
  grid-gap: 2px;

  &.columns-9 {
    grid-template-columns: repeat(9, auto);
  }
  &.columns-16 {
    grid-template-columns: repeat(16, auto);
  }
  &.columns-24 {
    grid-template-columns: repeat(24, auto);
  }
}
