section {
  display: grid;

  &.columns-9 {
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
  }
  &.columns-16 {
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
  }
  &.columns-24 {
    grid-template-columns: repeat(24, 30px);
    grid-template-rows: repeat(24, 30px);
  }

  &.gameover {
    opacity: 0.7;
    pointer-events: none;
  }
}
